doctype html
html
  head
    //- bower:css
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    //- endbower
    //- bower:js
    script(src='/lib/jquery/dist/jquery.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.js')
    //- endbower
    //- inject:css
    
    link(rel="stylesheet", href="/css/style.css")
    
    //- endinject
    
    //- inject:js
    
    //- endinject
    title= title
  body
    block content
    div
        | Icons made by 
        a(href='http://www.flaticon.com/authors/stephen-hutchings', title='Stephen Hutchings') Stephen Hutchings
        |  from 
        a(href='http://www.flaticon.com', title='Flaticon') www.flaticon.com
        |              is licensed by 
        a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0') CC BY 3.0
